# {{ ansible_managed }}

{% if redmine_apache_subversion_https_fix | bool %}
RequestHeader edit Destination ^https http early
{% endif %}

<Location {{ redmine_apache_subversion_url_path }}>
  DAV svn
  SVNParentPath "{{ redmine_apache_subversion_folder }}"

  AuthType Basic
  AuthName "{{ redmine_apache_subversion_auth_name }}"
  AuthUserFile /dev/null
  Require valid-user

  LimitXMLRequestBody 0
  SVNPathAuthz off

  <Limit GET PROPFIND OPTIONS REPORT>
    <RequireAny>
      Require valid-user
      Require ip {{ redmine_apache_subversion_auth_allow_ip }}
    </RequireAny>
  </Limit>

  PerlAccessHandler {{ REDMINE_APACHE_AUTH_PERL_PACKAGE }}::access_handler
  PerlAuthenHandler {{ REDMINE_APACHE_AUTH_PERL_PACKAGE }}::authen_handler
  RedmineDSN "{{ REDMINE_APACHE_AUTH_DSN }}"
  RedmineDbUser "{{ REDMINE_APACHE_AUTH_DB_USER }}"
  RedmineDbPass "{{ REDMINE_APACHE_AUTH_DB_PASSWORD }}"
</Location>
